/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #ececec !important;
}

.content {
  margin-top: 4rem !important;
}

.home-nav {
  background-color: #49568F !important;
}

.search {
  background-image: url('https://img.icons8.com/ios-glyphs/20/000000/search.png');
  background-repeat: no-repeat;
  background-position: right;
  height: 2rem !important;
  width: 27rem !important;
}

.bd {
  border-left: 2px solid grey !important;
  text-align: center;
  margin-left: 8px;
}

.error-msg {
  text-align: center;
}

.right-card {
  margin-left: 43rem;
  position: relative;
  top: 0;
  margin-top: 4.2rem !important;
}

.middle-card {
  margin-left: 9rem;
  width: 28rem !important;
}

.items {
  margin-left: -2.5rem;
  font-size: 13px;
  font-weight: bold;
}

.year {
  font-size: 13px;
  font-weight: bold;
}

.list {
  display: inline-block;
  margin-left: 2px;
}

.prof {
  width: 35px;
}

.feed-pic {
  width: 100%;
}

.avatar {
  height: 50px;
  width: 50px;
}

.nav-link {
  text-decoration: none;
}

.side-nav {
  width: 13rem;
  font-size: 14px;
}

.side-nav>a {
  color: black;
}

.feed {
  width: 33rem !important;
}

.feed-form {
  width: 100%;
  height: 40px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

::placeholder {
  margin-left: 2rem !important;
}

.online {
  width: 100% !important;
  margin-left: 20rem;
  position: fixed;
  bottom: 27.5rem;
  height: 100% !important;
}

.friends {
  border-left: 1px solid grey;
}

.online>.nav-item {
  font-size: 15px;
}

.feed-submit {
  background-color: #49568F;
}

.feed-submit:hover {
  background-color: rgb(81, 94, 153);
}

.image-field {
  background-color: aliceblue;
  width: 13rem;
}

.controls {
  float: right;
  width: 2rem;
  margin-bottom: 2rem !important;
}

.login-nav {
  height: 70px;
  ;
  background-color: #49568F !important;
  color: white;
}

.login-form {
  margin-left: 14rem;
}

.brand {
  font-size: 28px !important;
  font-weight: bold;
  margin-left: 7rem !important;
}

.login-btn {
  background-color: rgb(86, 98, 151) !important;
  height: 2rem;
  padding-bottom: 2px !important;
}

.login-btn:hover {
  background-color: rgb(79, 91, 145) !important;
}

.descriptions {
  height: 500px !important;
  width: 500px !important;
}

.description1 {
  font-weight: bold !important;
  font-size: 25px !important;
  padding: 1rem !important;
  font-family: Verdana !important
}

.form-input {
  border-radius: 4px;
  height: 2.5rem;
}

.f1,
.f2,
.f3 {
  width: 26rem !important;
}

.sign-up-btn {
  width: 10rem;
}

.terms {
  color: #49568F;
}

.description2 {
  padding-top: 1rem;
  margin-left: -2rem;
}

.p1 {
  padding-top: 2.8rem;
}

.p2 {
  padding-top: 3.7rem;
}

.title {
  margin-right: 29rem;
}

.groups {
  width: 35px;
  height: 7rem;
}

.suggested-grp {
  height: 16rem;
}

.footer>.nav-item {
  padding: 1rem;
  text-align: center
}